img {
    position: relative;
    margin: 10px;
    width: max(15%, 100px);
    height: auto;
}
cardsDisplay{
    height: auto;

}

#cardsShowcase{
    display: block;
    position: relative;
    height: auto;
    width: 90%;


}

canvas{
    border: 1px solid #d3d3d3; 
    border-radius: 20px;
    display: none;
    position: relative;
}

#sideButtons{
    display: none;
    margin: 5%;
    width: max(300px, 5vw);
    height: auto;
    padding: max(2vw, 10px);
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rgba(165, 238, 158, 0.363);
}